#root {
  margin: 0;
  padding: 0;
}
body{
  margin: 0;
  padding: 0;
}

.Arcadia_background {
  background-color: hsla(0, 45%, 21%, 1);
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 2535 2535' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E"),
    radial-gradient(circle at 99% 5%, hsla(330, 56%, 17%, 1) 0%, transparent 30%),
    radial-gradient(circle at 1% 3%, hsla(330, 56%, 17%, 1) 0%, transparent 29%),
    radial-gradient(circle at 51% 103%, hsla(22, 100%, 90%, 1) 0%, transparent 47%),
    radial-gradient(circle at 66% 63%, hsla(10, 100%, 62%, 1) 16%, transparent 32%),
    radial-gradient(circle at 51% 52%, hsla(10, 100%, 62%, 1) 16%, transparent 33%),
    radial-gradient(circle at 31% 61%, hsla(10, 100%, 62%, 1) 16%, transparent 33%),
    radial-gradient(circle at 100% 99%, hsla(10, 100%, 62%, 1) 16%, transparent 44%),
    radial-gradient(circle at 2% 101%, hsla(10, 100%, 62%, 1) 16%, transparent 44%),
    radial-gradient(circle at 79% 42%, hsla(355, 85%, 56%, 1) 6%, transparent 38%),
    radial-gradient(circle at 49% 18%, hsla(355, 85%, 56%, 1) 12%, transparent 35%),
    radial-gradient(circle at 23% 44%, hsla(355, 85%, 56%, 1) 9%, transparent 33%);
  background-blend-mode: overlay, normal, normal, normal, normal, normal, normal, normal, normal, normal, normal, normal;

  filter: invert(1);
}

@keyframes gradientShift {
  0%   { background-position: 0% 50%; }
  50%  { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.shadow-95-a-001{
  box-shadow: rgba(0, 0, 0, 0.2) 0px 60px 40px -7px;
}
.shadow-95-a-002{
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.clip-triangulo {
  clip-path: polygon(100% 0%, 100% 100%, 0% 100%);
}
